.welcome {
  button {
    display: block;
    margin: auto;
    font-size: 1.3rem;
    border: none;
    padding-left: 0;
    padding-right: 0;
    color: #4b4b4b;
    // font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid #707070;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}
