body {
  font-family: "Roboto", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  h4 {
    font-size: 1.3rem;
  }
  a {
    display: inline-block;
  }
  .mb-4 {
    margin-bottom: 1.4rem;
  }
  // .custom-btn {
  //   border: none;
  //   background: #71acd8;
  //   padding: 7px 22px;
  //   color: #fff;
  //   font-size: 14px;
  //   font-weight: 500;
  //   border-radius: 3px;
  //   outline-style: none;
  //   transition: 0.4s;
  //   &:hover {
  //     background-color: #679fca;
  //   }
  //   &:focus {
  //     border: none;
  //   }
  // }
  // .ant-btn:disabled {
  //   border-color: #40a9ffab;
  //   background-color: #40a9ffab;
  //   color: gainsboro;
  //   &:hover {
  //     background-color: #40a9ffab;
  //     border-color: #40a9ffab;
  //     background-color: #40a9ffab;
  //     color: gainsboro;
  //   }
  // }
  .text-white {
    color: #fff;
  }
  .ant-switch-checked {
    background-color: #58d68d;
  }
  .ant-spin-dot-item {
    //  i {
    background-color: green;
    // }
  }
  .fa-trash {
    color: red;
  }
  // h2{
  //   font-family: 'Raleway', sans-serif;
  // }
  // .ant-menu-item .anticon,
  // .ant-menu-submenu-title .anticon {
  //   min-width: 14px;
  //   margin-right: 10px;
  //   font-size: 18px;
  //   -webkit-transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
  //     margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  //   transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
  //     margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // }

  .mb-2 {
    margin-bottom: 0.8rem;
  }
  // input[type="number"]::-webkit-inner-spin-button,
  // input[type="number"]::-webkit-outer-spin-button {
  //   -webkit-appearance: none;
  //   margin: 0;
  // }
  textarea {
    resize: none;
  }

  // .ant-tabs-tab {
  //   span {
  //     display: inline-flex;
  //     align-items: center;
  //   }
  // }
  // .ant-pagination {
  //   .ant-pagination-item-link {
  //     display: inline-flex;
  //     align-items: center;
  //   }
  // }

  // .bg-light {
  //   .container {
  //     padding: 0;
  //   }
  //   .navbar-brand {
  //     padding: 15px 0;
  //   }
  //   img {
  //     width: 55px;
  //     height: 50px;
  //     margin-right: 30px;
  //   }

  //   .right-items {
  //     .signin {
  //       color: #000000c7;
  //       font-weight: 600;
  //       font-size: 19px;
  //     }
  //   }
  //   transition: all 0.3s;
  //   .shadow {
  //     box-shadow: -1px 1px 8px #00000069;
  //   }
  //   .visible {
  //     .signin {
  //       display: none;
  //     }
  //     .get-app {
  //       display: block;
  //     }
  //   }
  // }
}

.sticky-top {
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

.not-active,
.not-active:active,
.not-active:focus,
.not-active:hover {
  color: rgba(0, 0, 0, 0.85);
}

.close-btn-right {
  .ant-modal-close {
    margin: 0;
    color: #fff;
    font-size: 22px;
    left: 10px;
    top: -10px;
    .ant-modal-close-x {
      width: 22px;
      height: 30px;
      font-size: 17px;
    }
  }
}
.inc-desc-btn {
  input {
    max-width: 40px;
    text-align: center;
  }
  button {
    // max-width: 30px;
    padding: 0px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button:focus,
  button:active,
  input:active,
  input:focus {
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.85);
    box-shadow: none;
  }
  // margin-bottom: 50px;
}
.custom-select-padding {
  font-size: 16px;
  .ant-select-selector {
    border-radius: 5px !important;
    height: auto !important;
    padding: 7px 5px !important;
  }
  .ant-select-arrow {
    top: 46%;
    width: 19px;
    height: 19px;
    border: 1px solid #b3b3b3;
    padding: 3px;
    border-radius: 50%;
  }
  .ant-select-clear {
    top: 46%;
    width: 19px;
    height: 19px;
    font-size: 16px;
  }
}
.custom-positioning-modal {
  top: 0;
  max-width: 100% !important;
  margin: 0;
  .ant-modal-content {
    min-height: 96vh;
  }
  .ant-modal-close {
    top: 10px;
    right: 10px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 3px 5px 5px;
    .ant-modal-close-x {
      line-height: unset;
      height: auto;
      width: auto;
    }
  }
}
.close-left {
  .ant-modal-close {
    left: 10px;
    color: #656464;
    border-color: #656464;
  }
}

button:disabled {
  cursor: not-allowed !important;
}
.language-selector {
  position: absolute;
  top: 3px;
  left: -90px;
  z-index: 200000;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}
.language-selector:hover {
  left: 2px;
  // top: ;
}

.ant-spin-blur {
  min-height: 100vh;
}
